/* Header */
body {
    margin:0;
    background-color:white;
}
header {
    width: 100%;
    margin:0;
    padding:0;
    background-color: navy;
}

.logo {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-top:10px;
    padding-bottom: 10px;
    display: block;
}

header nav {
    background-color: navy;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
  }

header nav a {
    display:block;
    justify-content: center;
    background-color: gold;
    color: navy;
    width: 100px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 15px; 
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    list-style-type: none;
}

header nav a:hover {
    background-color: blue;
    color: yellow;
}

header h1 {
    display: block;
    position:absolute;
    position:relative;
    text-align:center;
    margin-top:0;
    margin-bottom:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    color:gold;
}

header p {
    display:block;
    position:relative;
    text-align: center;
    margin-top:0;
    font-size: 30px;
    color:white;
}

/* Body */
body h2 {
    text-align: center;
}

body p {
    margin-left: 20px;
    text-align: center;
}

.Introduction {
    display: block;
    justify-content: center;
    text-align: center;
    width: 60%;
    color: black;
    background-color: gold;
    margin-left: auto;
    margin-right:auto;
}

/* Team */
.Team {
    background-color: gold;
    width:75%;
    height: 800px;
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;

}

.Team h2 {
    padding-top:25px;
    text-align: center;
    font-size: 40px;

}

.Will {
    margin-left: 20px;
    background-color: white;
    width: 25%;
    border: 10px double navy;
    border-radius: 25px;
    padding-top: 25px;
    padding-bottom:25px;
    margin-top:25px;
    margin-bottom: 25px;
}

.Will h3 {
    text-align: center;
    color:black;
}

.Will img {
    padding-top: 25px;
    margin-left: 12%;
    height: 400px;
}

.Will p {
    color:black;
}

/* Social Media Images/Links */
.social-media {
    display: inline-block;
    margin-top: 200px;
    font-size: 20px;
}

.social-media li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
}

.instagramLogo {
    display:block;
    height: 50px;
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.xtwitterLogo {
    display: block;
    height: 50px;
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.facebookLogo {
    display: block;
    height: 50px;
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
}

/* Footer */
footer {
    margin-top:100px;
    background-color: navy;
    width:100%;
}

.footerLogo {
    width: 150px;
    height: 150px;
    position: relative;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.siteLink {
    padding-top: 0px;
    padding-left:0px;
    color: gold;
    display:block;
    text-align: center;
    font-size: 30px;
}

footer h1 {
    color:white;
    font-size:35px;
    text-align: center;
}

footer h2 {
    font-size: 15px;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

footer nav {
    background-color: navy;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    list-style-type: none;
}

footer nav a {
    display:block;
    justify-content: center;
    color: gold;
    width: 100px;
    list-style-type: none;
    padding: 10px 20px;
    margin: 0 15px; 
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    list-style-type: none;
    
}