/* Header */
body {
    margin:0;
    background-color:gold;
}
header {
    width: 100%;
    margin:0;
    padding:0;
    background-color: navy;
}

.logo {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-top:10px;
    padding-bottom: 0px;
    display: block;
}

header nav {
    background-color: navy;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
  }

header nav a {
    display:block;
    justify-content: center;
    background-color: gold;
    color: navy;
    width: 100px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 15px; 
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    list-style-type: none;
}

header nav a:hover {
    background-color: blue;
    color: yellow;
}

header h1 {
    display: block;
    position:absolute;
    position:relative;
    text-align:center;
    margin-top:0;
    margin-bottom:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    color:gold;
    padding-top:0px;
    
}

header p {
    display:block;
    position:relative;
    text-align: center;
    margin-top:0;
    font-size: 30px;
    color:white;
}

/*Welcome*/
.welcome {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;;
    color: navy;
    border-top: 5px solid gold;
    border-bottom: 5px solid gold;
}
.welcome h1 {
    display:block;
    padding-left:20px;
    
}
.welcome p {
    text-align: left;
    padding-left:20px;
    width: 60%;
}

/* Body-Main */

body {
    background-color: navy;
    
}

/*Categories*/
.categories {
    float:left;
    background-color: white;
    width:49%;
    padding-bottom:289px;
    border-right:5px solid gold;
    border-top: 5px solid gold;
    border-bottom: 5px solid gold;
}
.categories h1 {
    text-align: center;
}


.categories img {
    position: relative;
    margin-bottom:20px;
    margin-left:85px;
    width: 75%;
    height:400px;
    border: 20px double navy;
    background-color:gold;
    display: block;
}
/*Articles*/
.articles {
    width:49%;
    float:right;
    background-color: white;
    border-top: 5px solid gold;
    border-left: 5px solid gold;
    border-bottom: 5px solid gold;
}

.articles h1 {
    text-align: center;

}

.articles img {
    width: 55%;
    height: 286px;
    margin-right:10px;
    margin-left:185px;
    margin-bottom:20px;
    background-color: gold;
    border: 20px double navy;
}
.articles a {
    display:block;
    width:60%;
    margin-left:190px;
    margin-bottom: 0px;
    padding-right: 10px;
    text-align: left;
    padding-top:10px;
    font-size: 21px;
}

/*Calendar*/

.calendar {
margin-top:10px;
margin-left:27px;
width:939px;
height: 473px;
background-color: white;
float:right;
border-top: 5px solid gold;
border-left: 5px solid gold;
border-bottom: 5px solid gold;
}
.calendar h2 {
color:navy;
text-align: center;
}
.days, .dates {
display: grid;
grid-template-columns: repeat(7, 1fr);
color:navy;
text-align: center;
margin-top: 10px;
}
.day {
font-weight: bold;
}
.date {
padding: 5px;
cursor: pointer;
}
.event {
background-color: #ffeb3b;
color: black;
font-size: 0.8em;
margin-top: 2px;
padding: 2px;
}
.today {
background-color: #007BFF;
color: white;

}

/* Footer */
footer {
    margin-top:100px;
    background-color: navy;
    width:100%;
}

.footerLogo {
    width: 150px;
    height: 150px;
    position: relative;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.siteLink {
    padding-top: 0px;
    padding-left:0px;
    color: gold;
    display:block;
    text-align: center;
    font-size: 30px;
}

footer h1 {
    color:white;
    font-size:35px;
    text-align: center;
}

footer h3 {
    font-size: 15px;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

footer nav {
    background-color: navy;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    list-style-type: none;
}

footer nav a {
    display:block;
    justify-content: center;
    color: gold;
    width: 100px;
    list-style-type: none;
    padding: 10px 20px;
    margin: 0 15px; 
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    list-style-type: none;
    
}